.bcontext__contentWrapper {
  padding: 1rem 2.25rem;
}

.bcontext__contentWrapper > h2 {
  font-weight: 600;
  color: #242325;
  margin-bottom: 0.75rem;
}

.bcontext__content {
  display: flex;
  gap: 1rem;
}

.bcontext__itemDetails {
  color: #6b778c;
  font-size: 0.75rem;
}

.bcontext__itemInfo {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.bcontext__itemAuthor {
  font-size: 1rem;
  font-weight: 500;
  color: #242325;
}

.bcontext__itemDescription {
  line-height: 1.5rem;
  font-weight: 500;
}

@media (max-width: 425px) {
  .bcontext__content {
    flex-direction: column;
    align-items: center;
  }
}
