.svg__wrapper {
  border-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.completed {
  color: var(--completed-color);
  background-color: var(--completed-bgc);
}

.current {
  color: var(--current-color);
  background-color: var(--current-bgc);
}

.blocked {
  color: var(--blocked-color);
  background-color: var(--blocked-bgc);
}

.completed.active {
  color: white;
  background-color: var(--completed-color);
}

.current.active {
  color: white;
  background-color: var(--current-color);
}
