:root {
  --bg-grey: #f4f5f7;
  --bg-white: #ffffff;
  --current-color: #0165ff;
  --current-bgc: #eef5ff;
  --completed-color: #47bf7c;
  --completed-bgc: #edf9f2;
  --blocked-color: #aeb5c1;
  --blocked-bgc: #f4f5f7;
}

html {
  font-size: 1rem;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

body {
  background-color: var(--bg-grey);
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  padding: 1rem 2rem 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
