.bcontext__wrapper {
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 1px 0 0 #dfe1e6;
  border-radius: 0.75rem;
}

.bcontext__details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex: 1;
}

.divider {
  border: 1px solid var(--bg-grey);
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  .bcontext__details {
    grid-template-columns: 1fr;
  }
}
